#clock, #weather { 
  position:absolute;
  background:rgba(0,0,0,0.55);
  color:#fff;
  padding: 0 30px;
  font-family:"Helvetica Neue", "Helvetica", Arial, sans-serif; 
  text-shadow: #000 0px 2px 0px;
}

#clock {
  top:20px;  
  font-size: 6em;
}

#weather {
  bottom: 20px;
  width: 306px;
/*  height: 151px;*/
  text-align: right;
}

#weather h2 {
  text-align: left;
}

#weather .day {
  height: 151px;
}

#weather .temp {
  font-size: 80px;
  padding: 10px 0 15px;
  text-shadow: 1px 2px 1px #4D4D4D;
  position: relative;
}

#weather .temp .unit {
  display: inline;
  position: relative;
  font-size: 45px;
  top: -26px;
  right: 20px;
}

#weather .temp .highlow {
  font-size: 16px;
  font-weight: bold;
  margin-top: -36px;
}
#weather .temp .high {
  color: #FFD231;
}

#weather .tomorrow .temp {
  font-size: 30px;
}

#weather .description {
  text-transform: uppercase;
}

#weather .updated {
  text-align: left;
  font-size: 11px;
}